.App {
  text-align: center;
  opacity: 1.00;
}


.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-top: -60px;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/


.App-header {
  position: relative;
  background-color: #000000;
  background-image: url('https://wallpaperset.com/w/full/6/d/3/366121.jpg');
  background-size: cover;
  height: 100vh; /* Updated property */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  font-size: calc(30px + 2vmin);
  color: white;
  z-index: 1;
}


.App-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
  z-index: -1; /* Add this line */
}


.App-link {
  color: #61dafb;
}

.highlight {
  background-color: #000000;
  color: #ffffff;
  padding: 0 5px;
}
.white-rectangle {
  width: 800px;
  height: 75px;
  background-color: white;
  border: 1px solid black;
}

button {
  background-image: linear-gradient(to right, #f85032, #e73827);
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.result-container {
  position: relative;
  margin-top: 20px;
  text-align: center;
}

.result-label {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.result-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  line-height: 1.5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  padding: 15px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
  width: 700px;
}

button[type="submit"] {
  padding: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color: #007bff;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
